@font-face {
    font-family: 'Gisangchung Dalcomgihu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/Gisangchung Dalcomgihu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

main{
    width:100vw;
    background-image: linear-gradient(to top, #e9defa 0%, #fbfcdb 100%);
    position: relative;
}

section{
    width:100%;
    max-width: 1200px;
    margin:0px auto;
    /* border: 1px solid red; */
}


.hero {
  width: 100%;
  max-width: 1200px;
  margin:0px auto;
  /* height: calc(100vh - 120px);     */
  border: 20px outset #e9defa;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  }

.hero_unit{
    width: 100%;
    height: calc(48vh - 60px);
    object-fit: cover;
    /* border: 1px solid red; */
} 




  @keyframes changeBackground {
    0% {
      background-image: url("../../image/main_gallery/D&M_01.JPG");
    }
    25% {
      background-image: url("../../image/main_gallery/D&M_02.JPG");
    }
    50% {
      background-image: url("../../image/main_gallery/D&M_03.JPG");
    }
    75% {
        background-image: url("../../image/main_gallery/D&M_04.JPG");
    }
    100% {
        background-image: url("../../image/main_gallery/D&M_05.jpg");
    }
}



.timeline_box{
    padding-top:50px;
    font-family: 'Gisangchung Dalcomgihu';
}

* {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  /* body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  } */
  
  /* The actual timeline (the vertical ruler) */
  
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    display: flex;
    gap: 20px;
  }

.child {
  padding-top: 80px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.child_box {
  width: 100%;
  /* height: calc(100vh - 120px); */
  border: 20px outset #e9defa;;
}

.child_title{
  font-family: 'Gisangchung Dalcomgihu';
  height: 40px;
  text-align: center;
}

.child_box > img{
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

  
  @media screen and (max-width: 1470px) {
    aside{
        display: none;
    }

  }
  /* 768px보다 작으면 아래  CSS */
  @media screen and (max-width: 768px) {

    .hero{
        display: grid;
    grid-template-columns: repeat(1,1fr);
    }


      /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 15px;
      }
    
    /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }
  }