main{
    width:100vw;
    background-image: linear-gradient(to top, #e9defa 0%, #fbfcdb 100%);
    position: relative;
}

section{
    width:100%;
    max-width: 1200px;
    margin:0px auto;
    /* border: 1px solid red; */
}

.hero_imgs{
    width: calc(100% - 20px);
    /* height: calc(100vh - 120px);     */
    border:20px outset #e9defa;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.hero_imgs > img{
    width: 100%;
    height: calc(50vh - 60px);
    object-fit: cover;    
}


@media screen and (max-width: 1470px) {
    aside{
        display: none;
    }

    main{
        width:calc(100% - 20px);
    }
  }
  /* 768px보다 작으면 아래  CSS */
  @media screen and (max-width: 768px) {
    
    .hero_imgs{
        display: grid;
    grid-template-columns: repeat(1,1fr);
    }
  }
