@font-face {
  font-family: "YEONGJUSeonbiTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.card {
  width: 280px;
  height: 380px;
  border-radius: 12px;
  background-size: cover;
  padding: 20px;
  filter: brightness(1.07);
  transition: all 0.5s ease 1s;
}

.background1 {
  background-image: url("vill-2.avif");
}

.background2 {
  background-image: url("vill-1.jpg");
}

.background3 {
  background-image: url("vill-3.avif");
}

.background4 {
  background-image: url("vill-4.avif");
}
.card:hover {
  height: 700px;
  filter: brightness(0.95);
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.category {
  font-family: "Pretendard-Regular";
  font-size: 20px;
  /* text-decoration: underline; */
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: fit-content;
}

.title {
  font-family: "YEONGJUSeonbiTTF";
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc {
  font-family: "Pretendard-Regular";
  font-size: 18px;
}
