footer {
  background-color: var(--gray100);
  width: 100vw;
  /* height: 200px; */
}

.footer_box {
  width: 100%;
  max-width: var(--maxwidth--pc);
  margin: 0px auto;
  padding-top: 36px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: var(--gray500);
}

.footer_pii {
  font-weight: 700;
}

.footer_sns {
  display: flex;
  gap: 24px;
}

.footer_sns_unit {
  width: 24px;
  height: 24px;
  border: 50px;
}

.footer_company_info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer_company_info_unit {
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer_box {
    padding-bottom: 36px;
  }
}
