.container {
  /* display: flex; */
  gap: 20px;
  width: 500px;
  height: 300px;
  overflow: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  width: 700px;
  height: 100%;
}

.box {
  width: 200px;
  height: 100%;
  border: 1px solid black;
}
