header{
    width:100vw;
    height: 135px;
    background-color: var(--color-background);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.header_container{
    width: 100%;
    max-width:var(--width-max-menu);
    margin:0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header_logo{
    width:100px;
    height:100px;
    /* margin-top: 25px; */
}

.header_logo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
    height: 100%;
    display: flex;
    width:100%;
    max-width: var(--width-max-menu);
    margin:0px auto;
    flex-direction: column;
}

.top_menus{
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: end;
    gap:24px;
    font-size: 12px;
    padding-right: 40px;
}

.top_menu_unit:hover{
    border-bottom: 1px solid black;
}

.main_menus{
    display: flex;
    height: 70px;
    justify-content: end;
    font-size: 14px;
    align-items: flex-start;
    padding-top: 10px;
}

.main_menus_unit{
    height: 62px;
    padding:10px 15px 0px 15px;
}

.main_menus_unit:hover {
    text-decoration-line: underline;
    text-decoration-color:green;
    background-color: black;
    color:green
}

.main_menus_unit_detail{
    background-color: black;
    width:100%;
    height: 250px;
    z-index: 1;
    opacity: 0;
}

.main_menus_unit:hover .main_menus_unit_detail{
    opacity: 1;
}

.main_menus_unit_detail_container{
    width:100%;
    max-width:var(--width-max-menu);
    margin:0px auto;
    height:100%;
    display: flex;

}

.main_menus_unit_box{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    gap:10px;
}

.main_menus_unit_box_title{
    color:white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;

}

.main_menus_unit_box_list{
    color:#948888;
    font-size:13px;
    line-height: 1.3;
}


