.container {
  display: flex;
  height: 150vh;
  width: 100vw;
  overflow-y: scroll;
  flex-direction: column;

}

.container>img{
  width: 100%;
  height: 100vw;
}


.container::-webkit-scrollbar {
  display: none;
}

.menu {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0px;
}

.toss {
  display: flex;
  width: 24%;
  transform: translate(25vw, 10px);
}

.toss > span {
  align-content: center;
  font-weight: bold;
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  transform: translate(20vw, 10px);
  gap: 20px;
  width: fit-content;
  white-space: nowrap;
}

.button {
  font-weight: bold;
}

.languages {
  display: flex;
  flex-direction: row;
  transform: translate(25vw, 10px);
  gap: 20px;
  width: fit-content;
  white-space: nowrap;
}
.mid {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("backgroundimg.png");
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap:30px;
}

.introduce {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment > span {
  font-size: 60px;
  font-weight: 700;
}

.stores {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.store {
  align-items: cen;
  border: 1px solid black;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.phrase {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrase > span {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
}
