:root {
  /* color */
  --primary--color: #1d4d4f;
  --secondary--color: #285f43;

  /* font */
  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-large: 20px;
}

.box > .button {
  background-color: var(--primary--color);
  font-size: var(--font-size-small);
}
