body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 40px 30px 40px;

  border-radius: 14px;
  box-shadow: 1px 1px 20px 2px rgba(147, 152, 159, 0.2);
  /* 자식들 크기만큼 넓이 제공 */
  width: fit-content;
  /* border: 1px solid #dbdbdb; */
}

.icons__box {
  display: flex;
  gap: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.font {
  color: pink;
  font-size: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}
