body {
  height: 300vh;
}
.container {
  display: flex;
  flex-direction: column;
}
.up {
  display: flex;
}
.down {
  display: flex;
}

.box {
  width: 300px;
  height: 300px;
}

.green {
  background-color: green;
}

.green > span {
  position: relative;
  left: 10px;
  top: 10px;
}
.blue {
  background-color: blue;
}

.blue > span {
  position: absolute;
  left: 30px;
  top: 30px;
}
.orange {
  background-color: orange;
}
.orange > span {
  /* position: static; 디폴트값 */
  position: fixed;
  top: 0px;
  left: 0px;
}
.purple {
  background-color: purple;
}

.purple > span {
  position: sticky;
  top: 100px;
  /* left: 0px; */
}
